

// Colors

// Variable
$blue:    #5c9ead !default;
$red:     #da4167 !default;
$cyan:    #326273 !default;
$green: rgba(92, 158, 173, 0.37);
$gray-600: rgb(92, 158, 173);

$primary:       $blue !default;
$info:          $cyan !default;
$danger:        $red !default;
$dark:          $red !default;
$secondary:     $gray-600 !default;
$success:       $green !default;

$navbar-dark-color:  #FFFFFF;

.chambre, .art, .tarif{
    background: rgba(92, 158, 173, 0.37);
}


// typo

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


$headings-font-family: 'Courgette', cursive;
p{
    font-family: 'Roboto';
    color: $info;
}

figcaption{
    font-family: 'courgette', cursive;
    font-size: calc(1.275rem + 0.3vw);
}

.logo{
    width: 150px;
}
.nav-link, .dropdown-item{
    font-family: $headings-font-family;
}



@import "../node_modules/bootstrap/scss/bootstrap.scss";

// position

.navbar-collapse{
    flex-grow: 0;
}

footer{
    z-index: 2;
}
// gite et chambre page

#background{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100%;
    background-color: rgba(92, 158, 173, 0.37);
    z-index: -1;
}

#content{
    position: relative;
    z-index: 2;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}

.galerie{
    width: 400px;
    height: 220px;
    margin: 10px;
}

.galeriec{
    width: 200px;
    margin: 10px;
}

// Les bons plans

.desc{
border: solid 2px #5c9ead ;
height: 270px;
width: 500px;
right: 0%;
}


// Contatct et Accès

.adresse{
    height: 450px;
    width: 509px;
    background-color:rgba(92, 158, 173, 0.37);
    margin-bottom: 0%;
}

// sac'créa et Frap'art

.description{
    width: 90%;
    z-index: -1;
}

.photo{
    z-index: 2;
    border-radius: 15px;
    border: solid 10px #5c9ead ;
}

.test{
    margin-top: -10px;
}

.photo1{
    z-index: 2;
    border-radius: 15px;
    border: solid 10px #da4167;
}
