

// Colors

// Variable
$blue:    #5c9ead !default;
$red:     #da4167 !default;
$cyan:    #326273 !default;
$gray-600: rgba(92, 158, 173, 0.37);

$primary:       $blue !default;
$info:          $cyan !default;
$danger:        $red !default;
$dark:          $red !default;
$secondary:     $gray-600 !default;

$navbar-dark-color:  #FFFFFF;

.chambre, .art{
    background: rgba(92, 158, 173, 0.37);
}


// typo

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');


$headings-font-family: 'Courgette', cursive;
p{
    font-family: 'Roboto';
    color: $info;
}

figcaption{
    font-family: 'courgette', cursive;
    font-size: calc(1.275rem + 0.3vw);
}

.logo{
    width: 150px;
}
.nav-link, .dropdown-item{
    font-family: $headings-font-family;
}



@import "../node_modules/bootstrap/scss/bootstrap.scss";

// position

.navbar-collapse{
    flex-grow: 0;
}